main
    background-color: rgba(256,256,256,0.75)
    border: 1px solid #0000
    padding: 2rem
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.4)
    border-radius: 3px
    text-align: center 
    .ArticlesBanner
        width: 50%