@use "./../styles/variables" as var
    
.displayNone
    display: none   
.windowLayout
    border: var.$border-double
    background-color: var.$background-primary-color
    border-radius: var.$border-radius
    padding: 25px
    box-shadow: var.$shadow-box
.containerArticles
    display: flex
    flex-wrap: wrap
    justify-content: space-around
.borderCian
    border: 1px solid var.$border-color
    border-radius: var.$border-radius
    box-shadow: var.$shadow-box