body 
  color: white
  min-height: 100vh
  margin:0px
.shortcutBar
    border: 6px double #00e1ff
    background-color: rgba(0,52,89,0.75)
    border-radius: 20px
    padding: 3px
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.4)
    flex-direction: column
    height: max-content
    width: max-content
    position: sticky
    margin-top: 10px
    top: 10px
    *
      margin: 2px
.imageBackground
  min-height: 100vh
  padding: 8px
.container
  max-width: 100%
  margin: 16px
  display: flex
  aside
    margin-right: 10px
    min-height: 75vh
  main
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 10px
    width: 100%
    min-height: 75vh
    height: max-content
    text-align: center
    a
      font-style: italic
      &:link
          color: white
          text-decoration: none
      &:visited
          color: white
          text-decoration: none
      &:hover
          color: white
          text-decoration: none
      &:active
          color: white
          text-decoration: none
  #menuCheckbox
    &:checked 
      ~ aside
        display: none
@media (max-width: 769px)
  .container
    header
      width: none
      position: unset
    aside
      flex-basis: 100%
    #menuCheckbox
      ~ main
        display: flex
      ~ aside
        display: none
      &:checked
        ~ main
          display: none
        ~ aside
          display: block
