body 
  color: white
  min-height: 100vh
  margin:0px
.imageBackground
  min-height: 100vh
  padding: 8px




.container
  max-width: 100%
  margin: 16px
  display: flex
  aside
    width: 0px
    transition-property: width
    transition-duration: 5s
    min-height: 75vh
    width: max-content
    + label
      position: relative
      left: 600px
  main
    min-height: 70vh
    width: 100%
    text-align: center
    a
      font-style: italic
      &:link
          color: white
          text-decoration: none
      &:visited
          color: white
          text-decoration: none
      &:hover
          color: white
          text-decoration: none
      &:active
          color: white
          text-decoration: none
  .logoMenu
    position: fixed
    z-index: 1
    padding: 5px
    left: 0px
    top: 50vh
  #menuCheckbox
    ~ .logoMenu
      margin-left: 293px
    &:checked 
      ~ aside
        display: none
      ~ main
        margin-left: 0px
      ~ .logoMenu
        margin-left: 0px
   
@media (max-width: 769px)
  .container
    header
      width: none
      position: unset
    aside
      position: unset
    .logoMenu
      left: 0px
      margin-left: 0px!important
    #menuCheckbox
      ~ main
        display: block
        margin-left: 0px
      ~ aside
        display: none
      &:checked
        ~ main
          display: none
        ~ aside
          display: block
        ~ .logoMenu
          right:0px
          left: unset