@use "./../styles/variables" as var

.accordion
  color: white
  padding: 0
  border-radius: 3px
  overflow: hidden
  margin: 0px
  margin-left: -22px
  min-width: max-content
  width: 100%
  a
    &:link
        color: white
        text-decoration: none
    &:visited
        color: white
        text-decoration: none
    &:hover
        color: white
        text-decoration: none
    &:active
        color: white
        text-decoration: none
  li label
    display: flex
    align-items: center
    justify-content: center
    color: black
    background-color: var.$background-button-color
    box-shadow: var.$shadow-box
    font-size: x-large
    cursor: pointer
    margin: 10px
    margin-left: -60px
    border-radius: var.$border-radius
    border: var.$border-double
    padding-left: 60px
    padding-right: 20px
    min-height:150px
    &:hover
      background: var.$background-hover-color

  input[type="radio"]
    display: none
  .sub > li
    margin-left: -40px
    display: none
    width: 100%
    &:hover
      background-color: var.$background-submenu-color
  input:checked + .sub > li
    height: max-content
    display: block
  li a
    display: block
    height: 20px
    padding: 10px 50px
    &:hover
      padding-left: 55px
    